/* GENERAL */
body {
font-family: 'Open Sans', sans-serif;
    background-color:#f4f0e5;
}
html{
    height:100%;
}
h1,h2,h3, .h1,.h2,.h3{
    font-family: 'Vidaloka', serif;
    color:#8C7452;
}

/* Signin */
body.login{
    background-color:#e2d9cc;
    background-image: url(../images/bg-rolhas-ficticia.jpg);
    background-size: cover;
    height:100%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
    background-color:rgba(255,255,255,.9);
    box-shadow:0 4px 14px rgba(0,0,0,.5);
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* FORMS */
.btn-primary{
    background-color: #971A35;
    border-color:#971A35;
    text-transform: uppercase;
}
.btn-primary:hover{
    background-color: #522B96;
    border-color:#522B96;
}
.btn-primary:active{
    background-color: #8C7452;
    border-color:#8C7452;
}

.form-control:focus{
    border-color: #971A35;
    box-shadow: 0 0 0 0.2rem rgba(151, 26, 53, 0.45);
}
form hr{
    margin-top:40px;
    margin-bottom:40px;
}
form.closed label{
    font-weight: bold;
    font-size: .8em;
    color:#aaa;
    margin-bottom:0;
    
}
form.closed input, form.closed select, form.closed textarea{
    border:0;
    padding:0 0 10px 0;
    cursor:default;
}

/* NAVBAR */
.navbar.bg-purple{
    padding:0;
    background: #971a35;
}
.navbar.bg-purple .navbar-collapse{
    background: #711529;
    border-top:1px solid #620d1f;
    margin-top:0;
}

.bg-purple{
    background: #971a35;
/*
background: -moz-linear-gradient(45deg, #971a35 0%, #522b96 100%);
background: -webkit-linear-gradient(45deg, #971a35 0%,#522b96 100%);
background: linear-gradient(45deg, #971a35 0%,#522b96 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#971a35', endColorstr='#522b96',GradientType=1 );
    
*/
}
.navbar-toggler{
    margin:10px;
}
.navbar-toggler:focus{
    background-color: rgba(0,0,0,.2);
    outline: 0
}
.navbar-toggler:hover{
    outline-color: #fff;
}
.navbar-collapse{
    border-top:1px solid rgba(255,255,255,.3);
    margin-top:10px;
    text-transform: uppercase
}
.navbar-brand{
    text-indent: 88px;
    font-size: .8em;
}
.navbar-brand .logo{
    text-indent: -9999px;
    display:block;
    width:74px;
    height:60px;
    position: absolute;
    top:0px;
    left:10px;
    background-image: url(../images/logo-ficticia-w-s.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.nav-item:hover{
    background-color:rgba(255,255,255,.05)
}
.nav-item:active{
    background-color:rgba(0,0,0,.1)
}
/* TABLE */
.table a{
    color:#000;
}
td{
    font-size: .9em;
}
.table-leads thead{
    color:#888;
    font-size: .8em

}
.table-leads tr.newlead td{
    background-color:#ffffff;
    font-weight: bolder;
}
.table-leads tr td{

}
@media screen and (max-width:480px){
    .table-responsive{
        margin-left: -20px;
        margin-left: -20px;
        width: calc(100% + 40px);
    }
}

/* Checkbox collapse */
.checkbox-collapse-toogle ~ .checkbox-collapse{
        transform: scaleY(0);
    transform-origin: top;
    transition:transform .2s ease;
    height:0;
}
.checkbox-collapse-toogle:checked ~ .checkbox-collapse{
        visibility: visible;
        transform: scaleY(1);
    height:auto;
}
input[type='checkbox'].checkbox-collapse-toogle {
    visibility: hidden;
}
.checkbox-collapse-toogle ~ label.btn-check{
    color:#000;
    padding:10px;
    border-radius:4px;
    background: #e0d7bf;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .2s ease;
}
.checkbox-collapse-toogle ~ label.btn-check:hover{
    background-color:#fff;
    box-shadow: 0 2px 4px 2px rgba(0,0,0,.2);
}
.checkbox-collapse-toogle:checked ~ label.btn-check{
    background: #971a35;
    color:#fff;
    box-shadow: inset 0 1px 4px 2px rgba(0,0,0,.4)
}
/* DASHBOARD */

/*
 * Sidebar
 */

.sidebar {
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: #cac1ad
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #fff;
  font-weight: bold;
 background-color:rgba(140, 116, 82,.5);
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}


/* GRÀFICO */
.chartjs-render-monitor{
    background-color:#fff;
    padding:15px;
    border-radius:8px;
    box-shadow:0 2px 8px rgba(140, 116, 82,.5);
}

/* Container card */
.container.card{
    padding:15px 20px;
    box-shadow:0 2px 8px rgba(140, 116, 82,.5);

}
